/* html, body {
  height: 100%;
} */

pre {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@media (min-width: 768px) {
  pre {
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0.375rem;
  }
}

.heading-anchor {
  /* display: block;
  padding-top: 70px;
  margin-top: -70px; */
  text-decoration: unset !important;
}

.heading-anchor:hover::after {
  content: ' #';
  opacity: .6;
}


@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  ::-webkit-scrollbar-track {
    background: 0 0;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(240, 26%, 91%);
    border-radius: 1rem;
    /* border: 0.25rem solid transparent; */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(240, 9%, 71%);
  }
}