<script lang="ts">
  import Story from '$kitbook/stories/Story.svelte';
  import { clickoutside } from '$lib/actions/clickoutside';
</script>

<Story>
  <div class="p-10">
    <div class="p-5 bg-red-300" use:clickoutside on:clickoutside={() => console.log('clicked outside')}>Click outside me</div>
  </div>
</Story>
